<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mywebsite.mapper.AdminMapper">
	
	<!-- 상품 등록 -->
  	<insert id="goodsEnroll">
		insert into goods(
			goodsName
			, cateCode
			, goodsPrice
			, goodsStock
			, goodsDiscount
			, goodsIntro
			, goodsContents
		)values(
			#{goodsName}
			, #{cateCode}
			, #{goodsPrice}
			, #{goodsStock}
			, #{goodsDiscount}
			, #{goodsIntro}
			, #{goodsContents}
		)
  	</insert>
  	
  	<!-- 카테고리 리스트 -->
  	<select id="cateList" resultType="com.mywebsite.model.CateVO">
		select * from goods_cate order by cateCode 		
  	</select>
  	
  </mapper>