<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mywebsite.mapper.AdminMapper">
	
	<!-- 상품 등록 -->
  	<insert id="goodsEnroll">
		insert into goods(
			goodsName
			, cateCode
			, goodsPrice
			, goodsStock
			, goodsDiscount
			, goodsIntro
			, goodsContents
		)values(
			#{goodsName}
			, #{cateCode}
			, #{goodsPrice}
			, #{goodsStock}
			, #{goodsDiscount}
			, #{goodsIntro}
			, #{goodsContents}
		)
  	</insert>
  	
  	<!-- 카테고리 리스트 -->
  	<select id="cateList" resultType="com.mywebsite.model.CateVO">
		select * from goods_cate order by cateCode 		
  	</select>
  	
  	<!-- 상품 리스트 -->
  	<select id="goodsGetList" resultType="com.mywebsite.model.GoodsVO">
  		<![CDATA[
  		select * from(
  			select /*+INDEX_DESC(goods SYS_C008091)*/ rownum as rn, goodsId, goodsName,
  				(select cateName from goods_cate where goods.cateCode = goods_cate.cateCode) cateName, goodsStock, regDate
  		      from goods
  		     where 
  		]]>
  			<if test="keyword != null">
  				goodsName like '%' || #{keyword} || '%' and
  			</if>
  		<![CDATA[	
  			rownum <= #{pageNum} * #{amount}
  			)
  		where rn > (#{pageNum} -1) * #{amount}
  		]]>
  	</select>
  	
  	<!-- 상품 총 개수 -->
  	<select id="goodsGetTotal" resultType="int">
  		select count(*) from goods
  		<if test="keyword != null">
  		 where goodsName like '%' || #{keyword} || '%'
  		</if>
  	</select>
  </mapper>