<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.mywebsite.mapper.MemberMapper">
  	<!-- 회원가입 -->
	<insert id = "joinPost">
		insert into mywebsite_member
		values (
				#{userId},
				#{userPw},
				#{userPwChk},
				#{userName},
				#{userHpno},
				#{userMail},
				#{userAddr1},
				#{userAddr2},
				#{userAddr3},
				sysdate,
				0
				) 
	</insert>
	
	<!-- 아이디 중복확인 -->
	<select id = "idCheck" resultType = "int">
		select count(*) from mywebsite_member where userId = #{userId}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType = "com.mywebsite.model.UserVO">
		select userId, userPw, userName, adminCK from mywebsite_member where userId = #{userId}
	</select>
	
  </mapper>